/********index*****/
.header-img{
	text-align: center;
}
.backimg{
	width: 100%;
	background-image: url("../img/cupcake-with-candle.jpg");
	background-size: contain;
	z-index: -1;
	/*height: 550px*/
}
.overlay{
	background-color: rgba(0,0,0,0.6);
	z-index: 0;
	margin: 0px 0px 0px 0px;
}
.sub-header h2{
	font-family: "Ewert";
	color: #f24ab8;
	font-size: 40px;
	text-align: center;
	margin-bottom: 0px;
}.sub-header h5{
	font-family: "Tangerine";
	color: #f24ab8;
	font-size: 35px;
	text-align: center;
	margin-top: 0px;
}
.intro{
	color: #fff;
	font-family: "Dancing Script";
	font-size: 30px;
}
/*****menu/gallery****/
.image
{
	width:24%;
	float:left;
}
.image p{
	text-align: center;
	color: #fff;
}
.image img{

	float: left;
	width: 300px;
	height: 280px;
	border:5px solid #fff;
	margin:15px 0px 15px 10px;
}
.image img:hover{
	background-color: blue;
	opacity: 0.5;
}
.Orders{
	border-top: 2px solid #fff;
	margin: 20px 0px 20px 0px;
}
.Orders button{
	width: 20%;
	margin: 20px 0px 20px 30px;
	border-radius: 20px;
	background-color: #f24ab8;

}
/***footer***/
.info{
	width: 30%;
	float: left;
}
.footer{
	background-color: #fdb2e7;
	text-align: center;
}
.buttons button{
	margin-top: 40px;
}
/***********contacts**********/
.formdiv{
  color:#FFF;
  font-weight: bold;
  font-size: 16px;
	text-align: center;
}
.formdiv form span{
	font-family: "Tangerine";
	color: #f24ab8;
	font-size: 40px;
}

.a_row
{
  padding: 20px;
  padding-left: 5px;
}

.a_row label
{
  padding-left: 30px;
}

.a_row input
{
  width:40%;
  padding:15px;
  border-radius: 15px;
  border:none;
	color: #000;
}

.a_row textarea
{
  width:40%;
  margin-left: 40px;
  border-radius: 15px;
  border:none;
	color: #000;
}

.a_row button
{
  background-color:#f24ab8;
  color:white;
  font-size: 18px;
  border:none;
  border-radius: 25px;
  padding: 10px;
}
.class{
	float: left;
	width: 50%;
}
